@font-face {

	font-family: arial_narrow;

	src: url("../fonts/Arial_Narrow.ttf") format(‘truetype’);

}
@font-face {

	font-family: arial_bold;

	src: url("../fonts/Arial_bold.ttf") format(‘truetype’);

}

.aspect_ratio{

	height: 951px;
	width: 600px;
	overflow: hidden;
}
#before_register_container{
	background-image: url("../images/before_register.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
#register_container{
	background-image: url("../images/register.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border: 1px solid white;
}

#home_container{
	background-image: url("../images/home.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

#play_container{
	background-image: url("../images/play.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
#create_container{
	background-image: url("../images/create.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border: 1px solid white;
}
#join_container{
	background-image: url("../images/join.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border: 1px solid white;
}

#convocate_container{
	background-image: url("../images/convocate.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border: 1px solid white;
}
#convocate2_container{
	background-image: url("../images/convocate.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}


#results_container{
	background-image: url("../images/results.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border: 1px solid white;
}



.login_facebook{
	width: 12%;
	height: 8%;
	position: relative;
	top: 18%;
	left: 65%;
}

.register_facebook{
	width: 30%;
	height: 19%;
	position: relative;
	top: 29.0%;
	left: 57%;
}

.register{
	width: 30%;
	height: 19%;
	position: relative;
	top: 43%;
	left: 35%;
	border: 1px solid red;
}



#form_login{
	width: 50%;
	position: relative;
	top: 26%;
	left: 25%;

}
#submit_form_login{

	width: 50%;
	float: right;


}

#form_register{
	width: 80%;
	position: relative;
	top: 20%;
	left: 10%;


}


.half_width{

	width: 45%;

	margin: 0 auto;
	text-align: center;
}

.total_width{

	width: 80%;
	margin-left: 10%;

	margin: 0 auto;
	text-align: center;
}
#form_register .ui-field-contain .ui-controlgroup-controls{

	width: 50%;

}


#camp_container{

	height: 256px;

}



#photo_container{
	float: left;
	width: 36%;
	height: 30%;
	background-color: #679F25;
	position: relative;
	top: 43px;
	left: 49px;


}
#photo{
	width: 90%;
	height: 92%;
	margin: 5%;
}

#information {
	text-align: center;
	color: white;
	float: left;
	width: 43%;
	height: 9%;
	position: relative;
	top: 22%;
	left: 17%;
}

#name_user{
	float: left;
	clear: left;
	color: white;
	font-family: arial_bold;
	font-size: 1.8em

}
#age_user{
	margin-top: 2%;
	float: left;
	clear: left;
	font-family: arial;

}

#location_user{
	margin-top: 2%;
	float: left;
	clear: left;
	font-family: arial;

}


.toplay{
	width: 43%;
	height: 22%;
	position: relative;
	top: 37%;
	left: 3%;
	border: 1px solid red;
}

.tojoin {
	width: 51%;
	height: 21%;
	position: relative;
	top: 8%;
	left: 33%;
	border: 1px solid red;
}

.tocreate {
	width: 52%;
	height: 19%;
	position: relative;
	top: 11%;
	left: 33%;
	border: 1px solid red;
}

.first_square {
	width: 24%;
	height: 5%;
	position: relative;
	top: 1.5%;
	left: 4%;
	border: 1px solid red;
}

.last_square {
	width: 24%;
	height: 5%;
	position: relative;
	top: -3.5%;
	left: 72%;
	border: 1px solid red;
}


.togalery{

	width: 43%;
	height: 22%;
	position: relative;
	top: 15%;
	left: 53%;
	border: 1px solid red;



}

.join{

	width: 58%;
	height: 20%;
	position: relative;
	top: 19%;
	left: 26%;
}


.create{
	width: 58%;
	height: 20%;
	position: relative;
	top: 22%;
	left: 26%;
}

#form_create{

	width: 80%;
	position: relative;
	top: 20%;
	left: 10%;


}

#form_join{

	width: 80%;
	position: relative;
	top: 20%;
	left: 10%;


}

.join_checkbox{
	width: 37%;
	float: right;
}


.headers{
	height: 10%;
}
.footers{
	height: 10%;
	background-image: url("../images/home_icon.png");
	background-size: 16% 79%;
	background-position-x: 50%;
	background-position-y: 50%;
	background-repeat: no-repeat;
	width: 100%;
	border: 1px solid white;
	position:absolute;
	bottom:0;

}

.header_div{

	width: 33%;
	height: 100%;
	border: 1px solid white;
	float: left;
	text-align: center;

}

.age_position{

	position: relative;
	top: 10%;
	float: left

}

.gender_position{

	position: relative;
	left: 25%;
	
}

.your_team {
	position: relative;
	top: 4%;
	left: 7%;
	width: 80%;
}
.team{

	margin-top: 7%;

	background-color: #AFCF8B;
}
.name_team{

}
.other_team{
	float: right;
}
.own_teams{
	font-size: 1.7em;

}

#form_vs {
	width: 80%;
	position: relative;
	left: 10%;
	margin-top: 4%;
}

.green{

	background-color: #AFCF8B;

}

.red{
	background-color: #F19C79;

}
.vs {
	font-size: 2em;
	position: relative;
	margin-top: 12%;
	text-align: center;
}

.vs_team2 {
	position: relative;
	left: 7%;
	width: 80%;
}

.vs_teams3{
	font-size: 1.7em;

}

.send_request {
	margin-top: 10%;
	margin-left: 20%;
	width: 60%;
}
.two_teams {
	width: 80%;
	height: 12%;
	position: relative;
	top: 15%;
	left: 10%;
	border: 1px solid red;
}

.my_team {
	float: left;
}
.Vs_convocate2 {
	float: left;
	text-align: center;
	clear: left;
	margin-left: 43%;
	font-size: 2em;
}
.the_other_team {
	float: right;
	clear: right;
}

.my_team .name_team,.the_other_team .name_team{
	font-size: 2em;


}

.half_width2 {
width: 45%;
margin: 0 auto;
text-align: center;
margin-top: 30%;
}