@font-face {

	font-family: arial_narrow;

	src: url("../fonts/Arial_Narrow.ttf") format(‘truetype’);

}
@font-face {

	font-family: arial_bold;

	src: url("../fonts/Arial_bold.ttf") format(‘truetype’);

}
@font-face {

	font-family: aller_bold;

	src: url("../fonts/Aller_BdIt.ttf") format(‘truetype’);

}



#login .help {
	margin-top: 10%;
float: left;
color: white;
text-shadow: 1px 1px #000000;

}


.error{
	color: red;


}


.container{
	padding: 13%;
	padding-bottom: 0;
	padding-top: 0;
	overflow: scroll;





}


/*login page*/

#login{
	background-color: #679F25;
	width: 100%;
	height: 100%;
	min-height: 100px;
overflow: hidden;

background-image: linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%);
background-image: -o-linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%);
background-image: -moz-linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%);
background-image: -ms-linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%);
}


#login .container{
background-color: #679F25;
background-image: linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%);
background-image: -o-linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%);
background-image: -moz-linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%);
background-image: -ms-linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%);
}


#login .headerLogin {
margin-top: 10%;
width: 100%;
overflow: auto;
margin: auto;
}


#login .headerLogin h1{
color: white;
float: left;
text-shadow: 1px 1px black;
}

#login .headerLogin img{
color: white;
float: right;
width: 21%;
}
#login .container>h1{
	color: white;
	clear: left;
	margin-top: 17%;
	text-shadow: 1px 1px black;
}

#login #form_login {
width: 100%;
margin-top: 4%;
}

#login .register{
	width: 50%;
	border-radius: 8%;
	background-color: #00AEEF;
	
}





/*register page*/

#register .register{
width: 26%;
border-radius: 8%;
background-color: #679F25;

}

#register{

background-color: #D6E1F2;


}

#form_register{
	margin-top: 7%;


}

#register .container{
background-color: #D6E1F2;
}


#register .small_input_left{

	width: 45%;
	float: left;

}

#register .small_input_right{

	width: 45%;
	float: right;

}

#register  .ui-controlgroup-controls{
 width: 100%;

}

.backButton{


padding: 0%;
width: 11%;
margin-top: 2%;
margin-bottom: 2%;
}


/*home page*/

#home .container{
background-color: #D6E1F2;
padding: 5%;
padding-top: 0%;
padding-bottom: 0%;

}


.configButton{


padding: 0%;
width: 11%;
margin-top: 2%;
margin-bottom: 2%;
}


#photo_container {
background-color: #679F25;
float: left;
width: 40%;
margin-top: 9%;
}


#information {
color: white;
float: left;
width: 52%;
margin-left: 5%;
margin-top: 33%;
background-image: url("../images/backgroundName.png");
background-size: 100% 100%;
background-repeat: no-repeat;
padding: 1%;
}


#name_user{
	float: left;
clear: left;
color: white;
font-family: arial_bold;
font-size: 1.4em;


}

.sections{
	width: 100%;
	float: left;
	margin-top: 15%;
	margin-bottom: 11%;
}

.toSection {
padding: 2%;
width: 45%;
}
.rightSquare{
	float: right;

}




.tojoin {
	width: 51%;
	height: 21%;
	position: relative;
	top: 8%;
	left: 33%;
	
}

.tocreate {
	width: 52%;
	height: 19%;
	position: relative;
	top: 11%;
	left: 33%;
	
}	

/*mapa page*/

#mapa img{
	width: 10%;
}

#mapa .indicator{
	width: 50%;
	float: left;
	margin-top: 16%;

}


#colombia{
width: 100%;
height: 75%;
	border: 1px solid blue;
	margin-top: 7%;
}


.aspect_ratio{

	height: 100%;
	width: 100%;
	overflow: scroll;
}

/*
.ui-footer {
	width: 100%;
	text-align: center;
	background: none;
	background-color: #679f25;
	position: absolute;
	bottom: 0px;
	background-image: linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%);
background-image: -o-linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%);
background-image: -moz-linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%);
background-image: -ms-linear-gradient(bottom, rgb(102,159,37) 8%, rgb(145,184,97) 50%, rgb(102,159,37) 82%); 

}

.ui-footer img {
	width: 10%;
}

*/












#before_register_container{
	background-image: url("../images/before_register.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
#register_container{
	background-image: url("../images/register.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border: 1px solid white;
}
#galeria_container {
	/*background-image: url("../images/register.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;*/
	height: 100%;
	width: 100%;
	border: 1px solid red;
}

#home_container{
	background-image: url("../images/home.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

#play_container{
	background-image: url("../images/play.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
#create_container{
	background-image: url("../images/create.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border: 1px solid white;
}
#pre_conv_container{
	background-image: url("../images/pre_conv.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border: 1px solid white;


}

#join_container{
	background-image: url("../images/join.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border: 1px solid white;
}

#convocate_container{
	background-image: url("../images/convocate.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border: 1px solid white;
}
#convocate2_container{
	background-image: url("../images/convocate.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}


#results_container{
	background-image: url("../images/results.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border: 1px solid white;
}





.register_facebook{
	width: 30%;
	height: 19%;
	position: relative;
	top: 29.0%;
	left: 57%;
}






#submit_form_login{

	width: 50%;
	float: right;


}



.half_width{

	width: 45%;

	margin: 0 auto;
	text-align: center;
}

.total_width{

	width: 80%;
	margin-left: 10%;

	margin: 0 auto;
	text-align: center;
}



#camp_container{

	height: 256px;

}




#photo{
	width: 90%;
	margin: 5%;
}


#age_user{
	margin-top: 2%;
	float: left;
	clear: left;
	font-family: arial;

}

#location_user{
	margin-top: 2%;
	float: left;
	clear: left;
	font-family: arial;

}


.first_square {
	width: 24%;
	height: 5%;
	position: relative;
	top: 1.5%;
	left: 4%;
	
}

.last_square {
	width: 24%;
	height: 5%;
	position: relative;
	top: -3.5%;
	left: 72%;
	
}



.join{

	width: 58%;
	height: 20%;
	position: relative;
	top: 19%;
	left: 26%;
}


.create{
	width: 58%;
	height: 20%;
	position: relative;
	top: 22%;
	left: 26%;
}

#form_create{

	width: 80%;
	position: relative;
	top: 20%;
	left: 10%;


}

#form_join{

	width: 80%;
	position: relative;
	top: 20%;
	left: 10%;


}

.join_checkbox{
	width: 37%;
	float: right;
}


.headers{
	height: 10%;
}


.header_div{

	width: 33%;
	height: 100%;
	border: 1px solid white;
	float: left;
	text-align: center;

}

.age_position{

	position: relative;
	top: 10%;
	float: left

}

.gender_position{

	position: relative;
	left: 25%;
	
}

.your_team {
	position: relative;
	top: 4%;
	left: 7%;
	width: 80%;
}
.team{

	margin-top: 7%;

	background-color: #AFCF8B;
}
.name_team{

}
.other_team{
	float: right;
}
.own_teams{
	font-size: 1.7em;

}

#form_vs {
	width: 80%;
	position: relative;
	left: 10%;
	margin-top: 4%;
}

.green{

	background-color: #AFCF8B;

}

.red{
	background-color: #F19C79;

}
.vs {
	font-size: 2em;
	position: relative;
	margin-top: 12%;
	text-align: center;
}

.vs_team2 {
	position: relative;
	left: 7%;
	width: 80%;
}

.vs_teams3{
	font-size: 1.7em;

}

.send_request {
	margin-top: 10%;
	margin-left: 20%;
	width: 60%;
}
.two_teams {
	width: 80%;
	height: 12%;
	position: relative;
	top: 15%;
	left: 10%;
	
}

.my_team {
	float: left;
}
.Vs_convocate2 {
	float: left;
	text-align: center;
	clear: left;
	margin-left: 43%;
	font-size: 2em;
}
.the_other_team {
	float: right;
	clear: right;
}

.my_team .name_team,.the_other_team .name_team{
	font-size: 2em;


}

.half_width2 {
	width: 45%;
	margin: 0 auto;
	text-align: center;
	margin-top: 30%;
}
.botones_equipos{
	text-align: center;
}

.principio{
	margin: 6% auto;
	width: 80%;
}
.principio img {
	float: left;
	width: 20%;
	margin-top: 7%;
}
.principio p{
	float:left;
}

.principio h2{
	margin-left: 27%;
	margin-top: 11%;
}



#mi_reto{}
#title_mi_reto{
	margin-top: 10%;
	text-align: center;
}
#title_mi_reto2 {
	margin-top: 6%;
	text-align: center;
}
#title_retos{

}

.reto_my_team {
	background-color: greenyellow;
	font-size: 2.5em;
	text-align: center;
	border: 1px solid black;
	width: 90%;
	float: left;
	height: 65%;

}
.check{


}
.date_conv {
	float: right;
	font-size: 1.4em;
}

.title_my_conv {
	margin-bottom: 6%;
	font-size: 3em;
}

.convocate_teams {
	margin-bottom: 4%;
	height: 82px;
}



.division_imagen {
	margin-top: 10%;
}

.imagen {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-left: auto;
}

.descripcion {
	width: 75%;
	border: 2px ridge #AFCF8B;
	background-color: #99CC33;
	margin: 0 auto;
	padding: 2%;
	font-family: Arial;
	text-align: justify;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.google_map {
	width: 80%;
	height: 350px;
	border: 2px solid black;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.map_descripcion {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #BCF5A9;
	padding: 2%;
	vertical-align: middle;
}

.map_descripcion img {
	margin-left: 16%;
	width: 5%;
	vertical-align: middle;
}

.map_descripcion h4 {
	display: inline;
}




.fecha {
	float: left;
	margin-left: 3%;
}

.hora {
	position: relative;
	top: -14%;
	left: 0%;
	overflow: hidden;
}

#geoLocation2{

	width: 498px;
	height: 383px;
	margin: 20px auto;
	border: 1px solid blue;
}

.geolocation1{
	width:438px;
	height:199px;
	margin:0 auto; 
	border:1px solid blue;
}

#geolocation {
	width: 438px;
	height: 199px;
	margin: 0 auto;
	border: 1px solid #00F;
}

