@font-face {

	font-family: arial_narrow;

	src: url("../fonts/Arial_Narrow.ttf") format(‘truetype’);

}
@font-face {

	font-family: arial_bold;

	src: url("../fonts/Arial_bold.ttf") format(‘truetype’);

}

.aspect_ratio{

	height: 951px;
	width: 600px;
	overflow: hidden;
}
#before_register_container{
	background-image: url("../images/before_register.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
#register_container{
	background-image: url("../images/register.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border: 1px solid white;
}

#home_container{
	background-image: url("../images/home.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

#play_container{
	background-image: url("../images/play.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
#create_container{
	background-image: url("../images/create.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border: 1px solid white;
}
#join_container{
	background-image: url("../images/join.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border: 1px solid white;
}



.login_facebook{
	width: 12%;
	height: 8%;
	position: relative;
	top: 18%;
	left: 65%;
}

.register_facebook{
	width: 30%;
	height: 19%;
	position: relative;
	top: 29.0%;
	left: 57%;
}

.register{
	width: 30%;
	height: 19%;
	position: relative;
	top: 48%;
	left: 16%;
}



#form_login{
	width: 50%;
	position: relative;
	top: 26%;
	left: 25%;

}
#submit_form_login{

	width: 50%;
	float: right;


}

#form_register{
	width: 80%;
	position: relative;
	top: 20%;
	left: 10%;


}


.half_width{

	width: 45%;
float: left;
margin-left: 3%;
text-align: center;
}


#form_register .ui-field-contain .ui-controlgroup-controls{

	width: 50%;

}


#camp_container{

	height: 256px;

}



#photo_container{
	float: left;
	width: 39.7%;
	height: 25%;
	background-color: #3487C6;
	position: relative;
	top: 71px;
	left: 34px;


}

#photo{
	width: 90%;
	height: 90%;
	margin: 5%;
}



#information{
	text-align: center;
	color: white;
	float: left;
	width: 43%;
	height: 9%;
	position: relative;
	top: 219px;
	left: 78px;
}

#name_user{
	float: left;
	clear: left;
	color: white;
	font-family: arial_bold;
	font-size: 1.8em

}
#age_user{
	margin-top: 2%;
	float: left;
	clear: left;
	font-family: arial;

}

#location_user{
	margin-top: 2%;
	float: left;
	clear: left;
	font-family: arial;

}


.toplay{
	width: 46%;
	height: 25%;
	position: relative;
	top: 35%;
	left: 3%;
}

.join{

	width: 58%;
	height: 20%;
	position: relative;
	top: 19%;
	left: 26%;
}


.create{
	width: 58%;
	height: 20%;
	position: relative;
	top: 22%;
	left: 26%;
}

#form_create{

	width: 80%;
	position: relative;
	top: 20%;
	left: 10%;


}

#form_join{

	width: 80%;
	position: relative;
	top: 20%;
	left: 10%;


}

.join_checkbox{
width: 37%;
float: right;
}